
.margin-custom{
    margin-top: 150px;
}
.margin-manual{
    margin-bottom: 250px;
}
.home-cont{
    background: url("./images/home.png");
    background-size: cover;
}
.home-text{
    font-size: 3rem;
}
.btn-home{
    background-color: #F2F1EB;
}
.btn-home:hover{
    background-color: #F2F1EB;
    opacity: 80%;
    /* color: white; */
}
.products-img{
    height: 300px;
    width: 300px;

}